.menuIcon {
  position: absolute;
  top: 330.6px;
  left: 24.5px;
  width: 22px;
  height: 19.4px;
}
.navbarParent {
  position: relative;
  width: 1512px;
  height: 348.5px;
  z-index: 0;
}
.frameChild,
.frameItem {
  position: absolute;
  top: 1.6px;
  left: -18.4px;
  width: 20.9px;
  height: 36.8px;
  transform: rotate(-180deg);
}
.frameItem {
  top: -0.4px;
  left: -189.5px;
}
.p {
  margin: 0;
}
.div {
  position: absolute;
  top: 0;
  left: 129px;
  display: inline-block;
  width: 102px;
  height: 20px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.vectorParent {
  position: relative;
  width: 187px;
  height: 53px;
  transform: rotate(180deg);
}
.twoListVocabCardsBackInner {
  margin: 0 !important;
  position: absolute;
  top: 909px;
  left: 1259px;
  width: 187px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}
.english,
.two {
  position: absolute;
  font-family: var(--font-inter);
  text-align: left;
}
.two {
  top: 155px;
  left: 376px;
  font-size: var(--font-size-51xl);
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 402px;
  height: 161px;
}
.english {
  top: 21px;
  left: 723px;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-700);
}
.vocalCard {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 127px);
  left: calc(50% - 432px);
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 864px;
  height: 444px;
  z-index: 2;
}
.vocalCard:hover {
  background-color: var(--color-whitesmoke-600);
}
.sideBarChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-snow);
  width: 267px;
  height: 977px;
}
.close1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 21px;
  left: 15px;
  width: 20px;
  height: 20px;
  background-image: url(/public/close1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.close1,
.one1,
.oneChild {
  position: absolute;
}
.oneChild {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-400);
  border: 2px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 237px;
  height: 56px;
  cursor: pointer;
}
.oneChild:hover {
  background-color: var(--color-lightskyblue);
}
.one1 {
  top: 8px;
  left: 88px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 89px;
  height: 55px;
}
.one,
.twoChild {
  position: absolute;
  width: 237px;
}
.one {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 76px;
  left: 15px;
  height: 63px;
}
.twoChild {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightskyblue);
  border: 2px solid var(--color-darkslateblue);
  box-sizing: border-box;
  height: 56px;
}
.two1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 165px;
  left: 15px;
  height: 63px;
}
.four,
.three,
.threeChild,
.two1 {
  position: absolute;
  width: 237px;
}
.threeChild {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-400);
  border: 2px solid var(--color-darkslateblue);
  box-sizing: border-box;
  height: 56px;
}
.four,
.three {
  top: 254px;
  left: 15px;
  height: 63px;
}
.four {
  top: 8px;
  left: 88px;
  display: inline-block;
  width: 89px;
  height: 55px;
}
.nine,
.three2,
.three3,
.three4,
.three5,
.three6 {
  position: absolute;
  top: 343px;
  left: 15px;
  width: 237px;
  height: 63px;
}
.nine,
.three3,
.three4,
.three5,
.three6 {
  top: 432px;
}
.nine,
.three4,
.three5,
.three6 {
  top: 521px;
}
.nine,
.three5,
.three6 {
  top: 610px;
}
.nine,
.three6 {
  top: 699px;
}
.nine {
  top: 15px;
  left: 88px;
  display: inline-block;
  width: 89px;
  height: 55px;
}
.three7,
.three8 {
  position: absolute;
  top: 788px;
  left: 15px;
  width: 237px;
  height: 70px;
}
.three8 {
  top: 884px;
  height: 63px;
}
.sideBar,
.sideBarWrapper {
  margin: 0 !important;
  position: absolute;
  width: 267px;
}
.sideBar {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 736px;
  overflow-y: auto;
  flex-shrink: 0;
  z-index: 0;
}
.sideBarWrapper {
  top: 247px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.twoListVocabCardsBack {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
