.lango {
  position: absolute;
  top: 20px;
  left: 76px;
  font-size: var(--font-size-31xl);
  font-weight: 800;
  color: var(--color-deepskyblue);
  cursor: pointer;
}
.navbarChild {
  position: absolute;
  top: 101px;
  left: 0;
  width: 1512px;
  height: 2.2px;
}
.myAccount {
  position: absolute;
  top: 38px;
  left: 49.2px;
  display: inline-block;
  width: 177.8px;
}
.account,
.dropDownArrow {
  position: absolute;
  top: 55.2px;
  left: 229.7px;
  width: 17.5px;
  height: 11.6px;
}
.account {
  top: 0;
  left: 1240px;
  width: 272px;
  height: 96px;
  font-size: var(--font-size-11xl);
  color: var(--color-darkgray-400);
}
.create1 {
  position: relative;
}
.create,
.explore {
  position: absolute;
  top: 3px;
  left: 1060px;
  width: 167px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.explore {
  left: 693px;
  padding: var(--padding-5xl) var(--padding-2xs);
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 103.2px;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-dimgray-600);
  font-family: var(--font-inter);
}
