.one1,
.oneChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 192.2px;
  height: 60px;
}
.one1 {
  top: 8px;
  left: 50px;
  display: inline-block;
  width: 166px;
  height: 61px;
}
.eight,
.five,
.one {
  position: absolute;
  top: 104px;
  left: 5px;
  width: 216px;
  height: 69px;
}
.eight,
.five {
  top: 0;
  left: 0;
}
.five {
  top: 205px;
  left: 5px;
}
.cinco1,
.cincoChild,
.matchingLeft {
  position: absolute;
  top: 101px;
  left: 0;
  width: 221px;
  height: 274px;
}
.cinco1,
.cincoChild {
  top: 0;
  width: 205px;
  height: 60px;
}
.cinco1 {
  top: 4px;
  left: 85px;
  display: inline-block;
  width: 166px;
  height: 61px;
}
.cinco {
  position: relative;
  width: 251px;
  height: 65px;
}
.matchingRight {
  position: absolute;
  top: 105px;
  left: 382px;
  width: 251px;
  height: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.matching {
  position: absolute;
  top: 0;
  left: calc(50% - 103.5px);
  font-size: var(--font-size-16xl);
  font-weight: 600;
  display: inline-block;
  width: 189px;
  height: 54px;
}
.matchingLeftParent {
  position: absolute;
  top: 408px;
  left: 452px;
  width: 633px;
  height: 375px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
