.newPassword {
  position: relative;
}
.email {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-300);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 419px;
  height: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-17xl);
}
.hiddenIcon {
  position: absolute;
  top: 21px;
  left: 359px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.emailParent {
  position: relative;
  width: 419px;
  height: 79px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
