.learn1 {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 36.7px;
  flex-shrink: 0;
}
.learn,
.quiz1 {
  position: absolute;
}
.learn {
  top: 126.4px;
  left: 535px;
  width: 124px;
  height: 72.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15.295951843261719px 17.000244140625px;
  box-sizing: border-box;
}
.quiz1 {
  top: 20.4px;
  left: 27px;
  display: inline-block;
  width: 64px;
  height: 36.7px;
}
.quizChild,
.wrapperLine4Child {
  position: absolute;
  top: 0;
  left: 0;
  width: 124px;
  height: 72.4px;
}
.wrapperLine4Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.375);
}
.wrapperLine4 {
  position: absolute;
  top: 72.4px;
  left: 2.5px;
  width: 119px;
  height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz {
  position: absolute;
  top: 126.4px;
  left: 769px;
  width: 124px;
  height: 75.2px;
}
.beginnerNumbers {
  position: absolute;
  top: 46px;
  left: calc(50% - 268px);
  font-size: var(--font-size-31xl);
  font-weight: 600;
  color: var(--color-darkslateblue);
  white-space: pre-wrap;
  display: inline-block;
  width: 537px;
  height: 153px;
}
.setAsCompleted {
  position: relative;
  display: inline-block;
  width: 227px;
  height: 40.8px;
  flex-shrink: 0;
}
.checkmark1Icon {
  position: relative;
  width: 30px;
  height: 30.6px;
  object-fit: cover;
  margin-left: -18px;
}
.completed {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 162.1px;
  left: 1258px;
  width: 239px;
  height: 40.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-6xl);
  color: var(--color-mediumseagreen);
}
.back1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 48.8px;
  height: 19.5px;
  flex-shrink: 0;
}
.back,
.learnParent {
  position: absolute;
  box-sizing: border-box;
}
.back {
  cursor: pointer;
  border: 1px solid var(--color-deepskyblue);
  padding: 0;
  background-color: var(--color-azure);
  top: 13.2px;
  left: 76px;
  width: 143px;
  height: 32.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back:hover {
  background-color: var(--color-deepskyblue);
}
.learnParent {
  top: 103px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray-900);
  width: 1512px;
  height: 203px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
